.search-input-field{
    width: 100%;
    text-align: center;
    height: 8%;
    margin: 10px 5px 0 0 ;
    padding: 0;
    position: sticky;
    top:0;
    
}

input{
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    text-align: center;
    outline: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: medium;
}
.search-button{
    height: 100%;
    width: 7%;
    margin: 0 5px;
    border-radius: 30px;
    background-color: #1DB954;
    color: antiquewhite;
    border: none;
    font-size: medium;
}

.search-results-container{
    width: 90%;
    height: 70%;
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;

} 
.search-result-card{
    cursor: pointer;
    width: 15%;
    height:45% ;
    border-radius: 10px;
    margin: 5px;
    padding: 1%;
    background: rgb(42,42,42);
     background: linear-gradient(328deg, rgba(42,42,42,1) 14%, rgba(16,65,102,1) 100%);
     transition: all 0.3s ease;
}

.search-result-card:hover{
    transform: scale(1.03);
}


.album-img{
    width: 90%;
    aspect-ratio: 1;
    border-radius: 10px;
}
.item-title{
  margin: 2px 0 0 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.other-info{
  margin: 3px;
}