@import url(../src/shared/globar.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');
body{
  background-color: black;
  color: antiquewhite;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family:"Roboto Serif";
  
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* colour codes 
1D3557
457B9D
A8DADC
F1FAEE
E63946*/